PORT=3000
JWT_SECRET=""
MONGO_URI="mongodb://sudirmansyah:bumiitudatar@localhost:27017/db_sudirmansyah_betest"
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKER="localhost:29092"
KAFKA_CLIENT_ID=""
KAFKA_TOPIC_PREFIX="kafka_sudirmansyah_betest-"
KAFKA_TRUESTONE_PATH="certificate/?.pem"
KAFKA_KEYSTONE_PATH="certificate/?.pem"